.user-card {
    background-color: #ffffff;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .user-card button {
    font: inherit;
    cursor: pointer;
    padding: 0.25rem 1rem;
    border: 1px solid #4f005f;
    background-color: #4f005f;
    color: white;
    margin-right: 1rem;
  }
  
  .user-card button:hover,
  .user-card button:active {
    background-color: #741188;
    border-color: #741188;
  }
  
  .user-card button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .user-card button.alternative:hover,
  .user-card button.alternative:active {
    background-color: #ddb3f8;
  }
  